<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.bookDownload.demos.web.Mapper.NovelMapper">
    <select id="queryAll" resultType="com.example.bookDownload.demos.web.Entity.Novel">
        SELECT *
        FROM novel
    </select>
    <select id="selByName" resultType="com.example.bookDownload.demos.web.Entity.Novel">
        SELECT *
        FROM novel
        WHERE title like "%"#{title}"%"
    </select>
    <select id="selByNameExist" resultType="java.lang.Integer">
        select exists(
            select *
            from novel
            where title = #{title}
        )
    </select>
    <insert id="insNovel" parameterType="com.example.bookDownload.demos.web.Entity.Novel">
            insert into novel (title, description, author, pic)
            values (#{title, jdbcType=VARCHAR}, #{description, jdbcType=LONGVARCHAR}, #{author, jdbcType=VARCHAR}, #{pic, jdbcType=BLOB})
    </insert>
</mapper>
