<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.bookDownload.demos.web.Mapper.VolumeMapper">
    <select id="queryAll" resultType="com.example.bookDownload.demos.web.Entity.Volume">
        SELECT *
        FROM volume
    </select>
    <select id="queryByNovelVolume" resultType="com.example.bookDownload.demos.web.Entity.Volume">
        select *
        from volume
        where title = #{volumeName, jdbcType=VARCHAR}
            and novel_id = #{novelId, jdbcType=INTEGER}
    </select>
    <select id="queryByNovel" resultType="com.example.bookDownload.demos.web.Entity.Volume">
        select *
        from volume
        where novel_id = #{novelId, jdbcType=INTEGER}
    </select>
    <select id="queryByVolume" resultType="com.example.bookDownload.demos.web.Entity.Volume">
        select *
        from volume
        where id = #{volumeId, jdbcType=INTEGER}
    </select>
    <insert id="insertVolume" parameterType="com.example.bookDownload.demos.web.Entity.Volume">
        insert ignore into volume (title, novel_id, content)
        values (#{title, jdbcType=VARCHAR}, #{novel_id, jdbcType=INTEGER}, #{content, jdbcType=LONGVARCHAR})
    </insert>
</mapper>
